/**
 * Main menu icons.
 */
.navbar-icon-clear-all-caches:before {
  background-image: url("icons/787878/power.svg");
}
.no-svg .navbar-icon-clear-all-caches:before {
  background-image: url("icons/787878/power.png");
}
.navbar-icon-clear-all-caches:active:before,
.navbar-icon-clear-all-caches.navbar-active:before {
  background-image: url("icons/000000/power.svg");
}
.no-svg .navbar-icon-clear-all-caches:active:before,
.no-svg .navbar-icon-clear-all-caches.navbar-active:before {
  background-image: url("icons/000000/power.png");
}
